.contact-heading,
.email-heading {
    font-size: 40px;
    font-weight: 700;
}

.contact-heading {
    color: white;
}

.email-heading {
    color: black;
}

.right-box,
.left-box,
.social-box {
    padding: 30px 40px;
}

.social-box {
    padding: 30px;
    padding-right: 0;
}

.group-photo,
.social-box {
    width: 600px;
}

.right-box {
    background: #191717;
}

.right-box p {
    color: white;
}

.left-box {
    background: #f9e4bc;
}

.red-line {
    background: #ff1d38;
    height: 2px;
    width: 120px;
}

.form-field {
    border-radius: 8px;
    border: none;
}

.field p {
    margin: 0;
    text-transform: uppercase;
    color: #191717;
    font-size: 12px;
}

.field p::after {
    content: " *";
    color: red;
    font-weight: bold;
}

.social-link {
    display: flex;
    gap: 20px;
    align-items: center;
}

.social-link img {}

.social-link p {
    margin: 0;
    color: black;
    font-size: 16px;
    font-weight: 700;
    width: 300px;
}

.socials {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
}

.social-heading {
    display: flex;
    align-items: center;
    gap: 40px;
}

.social-heading p {
    color: black;
    font-size: 35px;
    font-weight: 700;
    margin: 0;
}

.bar {
    height: 5px;
    /* Change thickness here */
    width: 300px;
    /* Change total length here */
    background: linear-gradient(to right,
            #355dff 0%, #355dff 25%,
            #ff1d38 25%, #ff1d38 50%,
            #ffc862 50%, #ffc862 75%,
            #4303cb 75%, #4303cb 100%);
}


/* email submit status */
.form-status {
    margin-top: 16px;
    font-weight: 600;
    width: fit-content;
    border-radius: 10px;
    

}

.form-status p {
    margin: 0;
}

.form-status.success {
    background:rgb(234, 226, 230);
    color: #2e7d32;
    padding: 5px 20px;
}

.form-status.error {
    background: rgb(255, 205, 205);

    color: #c62828;
    padding: 5px 20px;
}