<button class="hamburger" id="hamburger" aria-label="Open navigation">
    <span></span>
    <span></span>
    <span></span>
</button>

<!-- Dark page overlay -->
<div class="menu-overlay" id="menuOverlay"></div>

<!-- Side navigation -->
<nav class="side-menu" id="sideMenu">
    <button class="close-menu" id="closeMenu" aria-label="Close navigation">
        <img style="width: 18px;" src="img\close.png" />
    </button>

    <div class="side-menu-content">
        <img src="img\APRL_branding\new_APRL_logo.png" alt="APRL logo" class="menu-logo">
        <div class="d-flex flex-column" style="display: flex; gap: 10px;">
            <a href="#" data-section="navBarContent">Home</a>
            <a href="#" data-section="about-section">About Us</a>
            <a href="#" data-section="mission">Our Mission</a>
            <a href="#" data-section="projects">Projects</a>
            <a href="#" data-section="subteams">Subteams</a>
            <a href="#" data-section="leadership">Leadership</a>
            <!-- <a href="#" data-section="archives">The APRL Archives</a> -->
            <a href="#" data-section="support-section">Support Us!</a>

            <a href="sponsors.html">Sponsors</a>

            <a href="#" data-section="contact">Contact Us</a </div>
            <div class="cows_fly_logo">
                <img src="img\APRL_branding\when_cows_fly.webp" />
            </div>
        </div>
</nav>